<h1 class="mt-4">Home</h1>
<p class="lead mb-3">Welcome <%= user.name %>!!!</p>
<p class="lead mb-3">Your registered emailId is <%= user.email %>.</p>
<p class="lead mb-3">You are living in <%= user.address %>.</p>
<p class="lead mb-3">Your energy balance is <%= user.energy %> KWhr.</p>
<p class="lead mb-3">Your amount balance ₹ <%= user.amount %>.</p>


<a href="/biding" class="btn btn-secondary">Biding</a>
<a href="/auction" class="btn btn-secondary">Auction</a>


<a href="/users/logout" class="btn btn-secondary">Logout</a>
